# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Platform-specific
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Misc
.DS_Store
